<h2>Edit your warranty</h2>

<form action="/edit-warranty" method="post">

    <label for="product">{{item.name}}</label>
    <input type="text" id="product" name="product">

<div>
    <label for="warrantyType-update">Warranty type</label>
    <select name='warrantyType' id='warrantyType-update'>
      <option value='builder'>builder</option>
      <option value='seller'>seller</option>
      <option value='payment'>payment</option>
      <option value='insurance'>insurance</option>
    </select>
  </div>
    

    <label for="durationInMonths-update">Warranty duration in months</label>
    <input type="number"name="durationInMonths" id="durationInMonths-update" ></input>

    <label for="provider-update">provider</label>
    <input type="text" id="provider-update" name="provider">

    <label for="policyImg-update">warranty extra document</label>
    <input type="text" id="policyImg-update" name="policyImg">

    <button id="warranty-update">Update your warranty</button>
</form>