<h2>New  product</h2>
<form action="/items/create" method="post">

    <label for="category">Category</label>
    <input type="text" id="category" name="category">

    <label for="brand">Brand</label>
    <input type="text" id="brand" name="brand">

    <label for="purchaseDate">Purchase date</label>
    <input type="date" id="date" name="date">

    <label for="price">Purchase price</label>
    <input type="text" id="purchasePrice" name="purchasePrice">
  


    <button>Submit</button>
</form>