<h2>Add a new  product</h2>
<form action="/items/create" method="post">

    <label for="category">Category</label>
    <input type="text" id="category" name="category">

    <label for="brand">Brand</label>
    <input type="text" id="brand" name="brand">

    <label for="name">Name</label>
    <input type="text" id="name" name="name">

    <label for="purchaseDate">Purchase date</label>
    <input type="date" id="date" name="purchaseDate">

    <label for="price">Purchase price</label>
    <input type="number" min="0" id="price" name="price">
  


    <button>Submit</button>
</form>