<div class="profile-container">
    <h2 class="title">PROFILE: </h2>
    <h2 class="username">{{currentUser.username}}</h2>

    <a href='/items' class="link-create-item">Check my items</a>

    <a href='/items/create' class="link-create-item">Add new item</a>
</div>